@import "tailwindcss";

@theme {
    --color-primary: #8839ef;
    --color-secondary: #1e66f5;

    --color-text: #151515;
    --color-muted: #555555;

    --color-background: #fcfcfc;
    --color-surface: #ffffff;
    --color-border: #e6e6e6;

    --color-primary-soft: #f4edff;
}
