---
import { commonContent } from "../../i18n/common";

const footer = commonContent.en.footer;
---

<footer class="border-border flex items-center justify-between border-t p-6">
    <div>
        <p class="font-bold">{footer.brand}</p>
        <p>{footer.tagline}</p>
    </div>
    <ul class="flex gap-6">
        {
            footer.links.map((item) => (
                <li>
                    <a class="cursor-pointer" href={item.href}>
                        {item.label}
                    </a>
                </li>
            ))
        }
    </ul>
</footer>
