---
interface Props {
    content: {
        brand: string;
        tagline: string;
        links: readonly {
            label: string;
            href: string;
        }[];
    };
}

const { content: footer } = Astro.props as Props;
---

<footer class="border-border border-t w-screen">
    <div
        class="mx-auto flex max-w-6xl flex-col flex-nowrap items-center justify-between p-6 md:flex-row space-y-3"
    >
        <div>
            <p class="font-bold">{footer.brand}</p>
            <p>{footer.tagline}</p>
        </div>
        <ul class="flex flex-wrap gap-6 space-y-3">
            {
                footer.links.map((item) => (
                    <li>
                        <a class="cursor-pointer" href={item.href}>
                            {item.label}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</footer>
