---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="Impressum" description="" lang="de">
    <section class="space-y-6">
        <h1 class="text-2xl font-bold">Impressum</h1>
        <ul>
            <li>Angaben gemäß § 5 TMG:</li>
            <li>Bartłomiej Parafianczyk</li>
            <li>Kurzform: Bartek Para</li>
            <li>Nockwinkel 56</li>
            <li>45277 Essen</li>
            <li>Deutschland</li>
        </ul>

        <h2 class="text-xl font-semibold">Kontakt:</h2>
        <ul>
            <li>E-Mail: bp@bart-p.com</li>
            <li>
                Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV: Bartłomiej
                Parafianczyk,
            </li>
            <li>
                Umsatzsteuer: Umsatzsteuer wird ausgewiesen. Die
                Umsatzsteuer-Identifikationsnummer wurde beantragt.
            </li>
        </ul>
    </section>
</SiteLayout>
