---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="Impressum" description="" lang="de">
    <section class="space-y-6">
        <h1 class="text-2xl font-bold">Datenschutz</h1>
        <h2 class="text-xl font-semibold">Allgemeine Hinweise</h2>
        <p>
            Der Schutz Ihrer persönlichen Daten ist uns ein besonderes Anliegen.
            Wir verarbeiten Ihre Daten daher ausschließlich auf Grundlage der
            gesetzlichen Bestimmungen (DSGVO, TMG).
        </p>
        <ul>
            <li>Verantwortlicher</li>
            <li>Bartłomiej Parafianczyk</li>
            <li>Nockwinkel 56</li>
            <li>45277 Essen</li>
            <li>E-Mail: bp@bart-p.com</li>
        </ul>
        <h2 class="text-xl font-semibold">
            Erhebung und Speicherung personenbezogener Daten
        </h2>
        <p>
            Wenn Sie über unsere Website Kontakt mit uns aufnehmen (z. B. per
            E-Mail oder Kontaktformular), werden Ihre angegebenen Daten zwecks
            Bearbeitung der Anfrage und für den Fall von Anschlussfragen sechs
            Monate bei uns gespeichert. Diese Daten geben wir nicht ohne Ihre
            Einwilligung weiter.
        </p>
        <h2 class="text-xl font-semibold">Zugriffsdaten / Server-Logfiles</h2>
        <p>
            Der Hostinganbieter erhebt Daten über jeden Zugriff auf die Website
            (sogenannte Server-Logfiles). Zu den Zugriffsdaten gehören z. B.
            IP-Adresse, Browsertyp, Datum und Uhrzeit des Abrufs. Diese Daten
            sind nicht bestimmten Personen zuordenbar und dienen der
            Betriebssicherheit.
        </p>
        <h2 class="text-xl font-semibold">Verwendung von Cookies</h2>
        <p>
            Unsere Website verwendet sogenannte Cookies. Diese richten keinen
            Schaden an und enthalten keine Viren. Cookies dienen dazu, unser
            Angebot nutzerfreundlicher zu gestalten. Sie können Ihren Browser so
            einrichten, dass er Sie über das Setzen von Cookies informiert oder
            Cookies nur im Einzelfall erlaubt.
        </p>
        <p>
            Zur Verwaltung der eingesetzten Cookies und ähnlichen Technologien
            (Tracking-Pixel, Web-Beacons etc.) und diesbezüglicher
            Einwilligungen setzen wir das Consent Tool „Real Cookie Banner“ ein.
            Details zur Funktionsweise von „Real Cookie Banner“ findest du unter
            https://devowl.io/de/rcb/datenverarbeitung/.
        </p>
        <p>
            Rechtsgrundlagen für die Verarbeitung von personenbezogenen Daten in
            diesem Zusammenhang sind Art. 6 Abs. 1 lit. c DS-GVO und Art. 6 Abs.
            1 lit. f DS-GVO. Unser berechtigtes Interesse ist die Verwaltung der
            eingesetzten Cookies und ähnlichen Technologien und der
            diesbezüglichen Einwilligungen.
        </p>
        <p>
            Die Bereitstellung der personenbezogenen Daten ist weder vertraglich
            vorgeschrieben noch für den Abschluss eines Vertrages notwendig. Du
            bist nicht verpflichtet die personenbezogenen Daten bereitzustellen.
            Wenn du die personenbezogenen Daten nicht bereitstellst, können wir
            deine Einwilligungen nicht verwalten.
        </p>
        <h2 class="text-xl font-semibold">
            Einbindung von Diensten und Inhalten Dritter
        </h2>
        <p>
            Auf unserer Website können Inhalte Dritter eingebunden sein (z. B.
            Videos, Karten, Schriften oder Kalender von externen Anbietern wie
            Google, YouTube, Calendly). Dies setzt voraus, dass diese Anbieter
            die IP-Adresse der Nutzer wahrnehmen. Auf diese Datenverarbeitung
            haben wir keinen Einfluss.
        </p>
        <ul>
            <li>Ihre Rechte</li>
            <li>Auskunft über Ihre gespeicherten Daten</li>
            <li>Berichtigung unrichtiger Daten</li>
            <li>Löschung oder Einschränkung der Verarbeitung Ihrer Daten</li>
            <li>
                Widerruf Ihrer Einwilligung (z. B. bei Newslettern oder
                Formularen)
            </li>
            <li>Datenübertragbarkeit</li>
            <li>
                Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das
                Datenschutzrecht verstößt, können Sie sich bei der zuständigen
                Aufsichtsbehörde beschweren.
            </li>
        </ul>
        <h2 class="text-xl font-semibold">Kontakt</h2>
        <p>
            Für datenschutzrechtliche Fragen oder Anliegen kontaktieren Sie uns
            bitte per E-Mail: bp@bart-p.com
        </p>
        <p>Stand: Juni 2026</p>
    </section>
</SiteLayout>
