---
interface Props {
    content: {
        sectionLabel: string;
        title: string;
        items: readonly {
            question: string;
            answer: string;
        }[];
    };
}

const { content } = Astro.props as Props;
---

<div class="space-y-6">
    <div class="text-primary mb-5 text-sm font-bold uppercase">
        {content.sectionLabel}
    </div>
    <h2 class="mb-6 text-2xl font-bold">{content.title}</h2>
    <div class="grid grid-cols-2 gap-6">
        {
            content.items.map((item) => (
                <div class="border-border space-y-3 border-b">
                    <h3 class="text-xl font-bold">{item.question}</h3>
                    <p class="py-3 pt-0 pb-6">{item.answer}</p>
                </div>
            ))
        }
    </div>
</div>
