---
import "../styles/global.css";

interface Props {
    title: string;
    description: string;
    lang?: string;
}

const { title, description, lang = "en" } = Astro.props as Props;
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content={description} />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <title>{title}</title>
    </head>
    <body class="bg-background text-text min-h-screen antialiased">
        <main class="">
            <slot />
        </main>
        <script
            src="https://app.prive.eu/consent"
            is:inline
            data-cc-tools="Youtube"
            data-cc-privacy="https://bart-p.com/de/privacy-policy"
            data-cc-imprint="https://bart-p.com/de/contact"
            data-cc-color="#8839ef"
            data-cc-theme="system"
            data-cc-language="browser"
            data-cc-non-eu-consent="false"></script>
    </body>
</html>
