---
interface Props {
    variant?: "primary" | "secondary";
    href: string;
}

const { variant = "primary", href } = Astro.props as Props;

const baseClass = "whitespace-nowrap inline-block rounded-lg px-3 py-2 md:px-4 md:py-3 text-lg transition shadow";
const variantClass =
    variant === "primary"
        ? "text-background bg-primary hover:bg-primary/80 hover:text-text/90 font-semibold"
        : "text-text bg-background border-border hover:bg-text/20 border";
const classes = `${baseClass} ${variantClass}`;
---

<a href={href} class={classes}><slot /></a>
